body{background-color: #333333;
  margin-left: auto;
}
#container{
  width: 830px;
}
.side{
  width: 100px;
  height: 450px;
  background-color: crimson;
  float: left;
  margin: 10px 10px 0;
}
.top{
  width: 600px;
  height: 150px;
  background-color: crimson;
  float: left;
  margin: 10px 0 0
}
.side2{
  width: 100px;
  height: 450px;
  background-color: crimson;
  float: right;
  margin: 10px 0 0
}
.square{
  width: 290px;
  height: 290px;
  background-color: crimson;
  float: left;
  margin: 10px 5px 0
}
