body{
  background-color: plum;
  text-align: center;
  font-size: 30px;
  font-family: 'Mansalva', cursive
}
img{
  max-width: 100%;
}
a{
  color: palevioletred;
  text-decoration: none;
  transition-duration: 1s delay;
  border-bottom: dotted;
}
a:hover {
  color: thistle;
  border-bottom: dotted;
}
a:visited {
  color: darkmagenta;
}
