/* Container holding the image and the text */
*{
  margin: 0px;
}
.container {
  position: relative;
  text-align: center;
  color: white;
 }
/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

/* Top left text */
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

/* Top right text */
.top-right {
  font-family: cheap-pine, sans-serif;
  font-weight: 400;
  font-style: normal;
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 163pt;
  color: black;
  text-align: right;
  width: 600px;
  margin-top: 55px;
  margin-right: 160px;
  line-height: 145pt;
}

/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.intro{
  color: black;
  text-align: left;
  font-family: source-serif-pro, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 17pt;
  margin-top: 30px;
  margin-left: 180px;
  margin-right: 180px;
  margin-bottom: 30px
}
.b1{
  width: 1280px;
  height: 645px;
  background-color: #EBEBEB;
}
.p1{
  color: black;
  text-align: left;
  font-family: source-serif-pro, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 13pt;
  width: 370px;
  margin-top: 10px;
  margin-right: 180px;
  float: right;
}
.h1{
  font-family: cheap-pine, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 70pt;
  margin: 30px 180px 0px;
  float: left;
}
.d1{
  font-family: source-serif-pro, serif;
  font-weight: 600;
  font-style: normal;
  font-size: 20pt;
  float: left;
  margin: 10px 180px 10px;
}
.p2{
  color: black;
  text-align: left;
  font-family: source-serif-pro, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 13pt;
  width: 390px;
  margin-top: 0px;
  margin-left: 180px;
  float: left;
}
.h2{
  font-family: cheap-pine, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 70pt;
  margin: 60px 140px 0px;
  float: right;
  text-align: right;
  width: 700px;
}
.d2{
  font-family: source-serif-pro, serif;
  font-weight: 600;
  font-style: normal;
  font-size: 20pt;
  float: right;
  margin: 10px 160px 0px;
}
.b2{
  width: 1280px;
  height: 750px;
  background-color: #EBEBEB;
  margin: 90px 0px 0px 0px;
}
.h3{
  font-family: cheap-pine, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 70pt;
  margin: 200px 0px 0px;
  float: right;
  text-align: right;
  width: 700px;
}
.d3{
  font-family: source-serif-pro, serif;
  font-weight: 600;
  font-style: normal;
  font-size: 20pt;
  float: right;
  margin: 10px 0px 0px;
}
.b3{
  width: 1280px;
  height: 850px;
  background-color: #EBEBEB;
  margin: 1500px 0px 0px 0px;
}
