body{
  margin: 0px;
}
#container{
  max-width: 100%;
  background-color: white;
}
.img {
  position: relative;
 }
 .top-right {
   font-family: cheap-pine, sans-serif;
   font-weight: 400;
   font-style: normal;
   position: absolute;
   top: 8px;
   right: 16px;
   font-size: 17vw;
   line-height: 30vh;
   color: black;
   text-align: right;
   width: 600px;
   margin-top: 55px;
   margin-right: 160px;
 }
.intro{
  text-align: left;
  font-family: source-serif-pro, serif;
  font-weight: 400;
  font-style: normal;
  margin-left: 150px;
  margin-right: 180px;
  color: black;
  font-size: 1.7vw;
  margin-top: 30px;
}
.text{
  width: 100%;
  margin-left: 150px;
  margin-right: 180px;
  padding-bottom: 40%;
}
.text2{
  margin-right: 180px;
  margin-left: 150px;
  padding-bottom: 50%;
}
.p1{
  text-align: left;
  font-family: source-serif-pro, serif;
  font-weight: 400;
  font-style: normal;
  color: black;
  position: relative;
  float: left;
  max-width: 30%;
  padding-left: 1%;
  margin-right: 50px;
}
.img2{
  float: left;
  position: relative;
}
.h1{
  font-family: cheap-pine, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 7vw;
  color: black;
}
.d1{
  font-family: source-serif-pro, serif;
  font-weight: 600;
  font-style: normal;
  font-size: 2.3vw;
  color: black;
}
.block{
  width: 100%;
  background-color: #EBEBEB;
  margin-bottom: 5%;
}
.h2{
  font-family: cheap-pine, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 7vw;
  color: black;
  text-align: right;
  float: right;
  width: 80%;
}
.d2{
  font-family: source-serif-pro, serif;
  font-weight: 600;
  font-style: normal;
  font-size: 2.3vw;
  float: right;
  color: black;
  margin-left: 300px;
}
.img3{
  position: relative;
  float: right;
}
.p2{
  text-align: left;
  font-family: source-serif-pro, serif;
  font-weight: 400;
  font-style: normal;
  max-width: 40%;
  color: black;
  position: relative;
  float: left;
  padding-right: 1%;
}
.block2{
  width: 100%;
  background-color: #EBEBEB;
  margin-bottom: 5%;
  margin-top: 15%;
}
.block3{
  width: 100%;
  background-color: #EBEBEB;
  margin-top: 5%;
}
@media only screen and (max-width: 1024px)
{
  .text{
    width: 100%;
    margin-left: 130px;
    margin-right: 110px;
  }
  .text2{
    margin-right: 110px;
    margin-left: 130px;
    padding-bottom: 5%;
  }
.top-right{
  top: 8px;
  right: 16px;
  width: 500px;
  line-height: 25vh;
  margin-top: 30px;
  margin-right: 130px;
}
.p1{
  max-width: 30%;
}
.p2{
  max-width: 30%;
}
.intro{
margin: 20px 150px;
}
.h1, .h2{
width: 80%;
}
.d1, .d2{
}
.img2 img{
  width: 500px;
}
.img3 img{
  width: 500px;
  float: right;
}
.block{
  width: 100%;
  background-color: #EBEBEB;
  float: left;
}
.block2{
  width: 100%;
  background-color: #EBEBEB;
  float: left;
}
.block3{
  width: 100%;
  background-color: #EBEBEB;
  float: left;
}
@media only screen and (max-width: 768px)
{
  #container{
    width: 768px;
  }
  .text{
    width: 100%;
    margin-left: 120px;
  }
  .text2{
    margin-left: 120px;
  }
  .top-right{
    top: 25px;
    right: 0px;
    width: 350px;
    line-height: 17vh;
  }
  .p1{
    text-align: left;
    font-size: 2.3vw;
    max-width: 65%;
    padding-left: 0%;
    float: left;
  }
  .p2{
    max-width: 100%;
    text-align: left;
    font-size: 2.3vw;
    float: left;
  }
  .intro{
  margin: 20px 130px;
  font-size: 2.3vw;
  }
  .h1{
  text-align: left;
  float: left;
  }
  .h2{
    float: left;
    margin-left: 0px;
    text-align: left;
  }
  .d1, .d2{
    float: left;
    margin-left: 0px;
  }
  .img2 img{
    float: left;
    max-width: 100%;
  }
  .img3 img{
    float: left;
    max-width: 100%;
}
.block{
  width: 100%;
  background-color: #EBEBEB;
  float: left;
}
.block2{
  width: 100%;
  background-color: #EBEBEB;
  float: left;
}
.block3{
  width: 100%;
  background-color: #EBEBEB;
  float: left;
}
@media only screen and (max-width: 500px)
{
  #container{
    width: 500px;
  }
  .text{
    width: 100%;
    margin-left:0px;
  }
  .text2{
    width: 100%;
    margin-left:0px;
  }
  .top-right{
    top: 0px;
    right: 0px;
    width: 300px;
    line-height: 12vh;
    margin-right: 60px;
    margin-top: 15px;
  }
  .p1, .p2{
    margin: 20px 80px;
    width: 80%;
    font-size: 2.3vw;
    text-align: left;
    float: left;

  }
  .intro{
  margin: 20px 50px;
  font-size: 2.4vw;
  }
  .h1, .h2{
  margin: 15px 70px 0px 80px;
  width: 300px;
  float: left;
  text-align: left;
  }
  .d1, .d2{
  margin: 10px 150px 10px 80px;
  float: left;
  }
  .img2 img{
    max-width: 100%;
  }
  .img3 img{
    max-width: 100%;
    float: left;
}
.block{
  width: 100%;
  background-color: #EBEBEB;
}
.block2{
  width: 100%;
  background-color: #EBEBEB;
}
.block3{
  width: 100%;
  background-color: #EBEBEB;
}
