body{
  margin: 0;
  overflow-x: hidden;
  background-color: lightsalmon;
}
#container{
  width: 100%;
  margin-left: 0%;
  margin-top: 0px;
}
.triangle1,.triangle2,.tile1,.triangle3 {
  margin: 0px;
  float: left;
}
.triangle1 {
  height: 0px;
  width: 0px;
  border-left: 100px solid palevioletred;
  border-right: 100px solid transparent;
  border-bottom: 100px solid transparent;
  border-top: 100px solid transparent;
}
.triangle2 {
  height: 0px;
  width: 0px;
  border-left: 100px solid tomato;
  border-right: 100px solid transparent;
  border-bottom: 100px solid transparent;
  border-top: 100px solid transparent;
  transform: rotate(180deg);
}
.tile1 {
width: 100px;
height: 100px;
  border-radius: 100%;
  background-color: thistle;
}
.triangle3 {
  height: 0px;
  width: 0px;
  border-left: 100px solid peachpuff;
  border-right: 100px solid transparent;
  border-bottom: 100px solid transparent;
  border-top: 100px solid transparent;
  transform: rotate(90deg);
